<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Fourier Transform Explained</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
	<div style="margin: 3px 3px 3px 3px;">
		<form style="padding: 0.5rem 0.5rem 0.5rem 0.5rem;text-align: justify;background-color: paleturquoise;" action="" method="post">
			This web application was written by Wael Zeinyeh (assistant professor, faculty of pharmacy, Université de Lyon).<br><br>
			It was evaluated, commented and enriched by Yannick J. Esvan (researcher, Charnwood Molecular Ltd., United Kingdom).<br><br>
			The app is programmed in Python, it is open-source and the source code is available in GitHub:<br>
			<a href="https://github.com/waelzeinyeh/FT_EXPLAINED">https://github.com/waelzeinyeh/FT_EXPLAINED</a><br><br>
			To complete your knowledge about NMR spectrum acquisition and treatment, we recommend you these references:<br><br>
			- NMR Spectroscopy Explained, Neil E. Jacobsen, Wiley 2007<br><br>
			- Understanding NMR Spectroscopy, James Keeler, Wiley 2010<br><br>
			- The basics of NMR, J.P. Hornak, <a href="https://www.cis.rit.edu/htbooks/nmr/">https://www.cis.rit.edu/htbooks/nmr/</a> <br><br>
			<input type=submit name="return_app" value="Return" class="control">
		</form>
	</div>

</body>

</html>
