<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Fourier Transform Explained : Parameters</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='paramstyle.css') }}" />
</head>


<body>

	<form action="" method="post" novalidate>
		<img src="./static/eq.png" border=1 id="eq" />
		<br /><br />
		<div style="background-color:rgb(255, 255, 230)">
			Minimum frequency (integer): <input type=number name="freq_min" value={{freq_min}} min=1 max=20 step=1 style="width: 3rem;"> Hz
			<input type=submit style="background-color: paleturquoise; border: 0" name="freq_min_info" value="?">
		</div>
		<br />
		<div style="background-color:rgb(230, 255, 230)">
			Maximum frequency (integer, <=20): <input type=number name="freq_max" value={{freq_max}} min=1 max=20 step=1 style="width: 3rem;"> Hz
			<input type=submit style="background-color: paleturquoise; border: 0" name="freq_max_info" value="?">
		</div>
		<br />
		<div style="background-color:rgb(255, 255, 230)">
			Acquisition time (integer, <=10): <input type=number name="acq_time" value={{acq_time}} min=0 max=10 style="width: 3rem;"> seconds
			<input type=submit style="background-color: paleturquoise; border: 0" name="acq_time_info" value="?">
		</div>
		<br />
		<div style="background-color:rgb(230, 255, 230)">
			Relaxation time ( = decay constant): <input type=number name="decay" value={{decay}} min=0 step=0.1 style="width: 3rem;"> seconds
			<input type=submit style="background-color: paleturquoise; border: 0" name="decay_info" value="?">
		</div>
		<br />
		<div style="background-color:rgb(255, 255, 230)">
			Resonance signal phase: <input type=number name="phase" value={{phase}} min=0 step=0.1 style="width: 3rem;"> pi radians
			<input type=submit style="background-color: paleturquoise; border: 0" name="phase_info" value="?">
		</div>
		<br />
		<div style="background-color:rgb(230, 255, 230)">
			% of noise in FID: <input type=number name="noise" value={{noise}} min=0 max=100 step=1 style="width: 3rem;">
			<input type=submit style="background-color: paleturquoise; border: 0" name="noise_info" value="?">
		</div>
		<br />
		<div style="background-color:rgb(255, 255, 230)">
			Snapshot every (>=0.1 Hz): <input type=number name="trace_every" value={{trace_every}} min=0.1 step=0.1 style="width: 3rem;"> Hz
			<input type=submit style="background-color: paleturquoise; border: 0" name="trace_every_info" value="?">
		</div>
		<br />
		<div>
			<input type=submit name="paramOK" value="OK">
			<input type=submit name="paramCancel" value="Cancel">
			{%if p_message:%}
			<span style="background-color:red;color: white; padding:0.3rem;">
				{{p_message}}
			</span>
			{%endif%}
		</div>
		<br />
    </form>
    <div id="message">
            {%if info_message:%}
	    <div id="msgtext">
		    {{info_message | safe}}
	    </div>
	    {%endif%}
    </div>

</body>

</html>
