<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Fourier Transform Explained</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
	<div id="message">
		<form id="msgtext" action="" method="post">
			Welcome to this web application.<br />
			It was designed in addition to the script given for the publication: Basics of Fourier Transform Applied to NMR Spectroscopy: An Interactive Open-source Web Application.<br /><br />
			This app aims at explaining how the NMR signal is processed by the Fourier Transform to generate a spectrum, but NMR spectrum interpretation (chemical shift and multiplicity) is not addressed here.<br /><br />
			If you are running the app for the first time, we advise you to read the explanation messages. Afterward, you can turn them off using the corresponding button in the main screen.<br /><br />
			The app needs your browser to accept cookies and to allow javascript execution.<br />

			<input type=submit name="enter_app" value="Enter" class="control">

		</form>
	</div>

</body>

</html>
